{% extends "base.html" %}

{% block content %}
<section class="intro">
    <h2>Sobre Mim</h2>
    <p>Olá! Eu sou a Julia, uma estudante de Ciência da Computação aprendendo TI. Aqui você pode aprender mais sobre mim.</p>
</section>
<section class="projects">
    <h2>Projetos Recentes</h2>
    <ul>
        <li>Meta - Aprender a programar e me fixar no mercado de trabalho</li>
        <li>Experiência - Estágio em TI</li>
        <li>Gostos - Ler, dançar e jogar vôlei</li>
    </ul>
</section>
{% endblock %}